@import "tailwindcss";


.custom-antd-input-dark input:-webkit-autofill,
.custom-antd-input-dark input:-webkit-autofill:hover, 
.custom-antd-input-dark input:-webkit-autofill:focus {
  -webkit-text-fill-color: #030712 !important;
  transition: background-color 5000s ease-in-out 0s; 
}


.custom-antd-input-dark input {
  background-color: transparent !important;
  color: #030712 !important;
  padding: 6px 4px !important;
}


.custom-antd-input-dark .ant-input-suffix .anticon {
  color: #9ca3af !important;
}

.custom-antd-button-logout 
{
  height: 100%;
  border-radius: 0%;
  border: none;
}

.custom-antd-button-logout:hover {
  border-color: transparent !important;
  color: inherit !important;
}